@media only screen and (max-width:700px)
and (min-width:500px){

    html{

        font-size: 80%;
    }
}

@media only screen and (max-width:500px)
and (min-width:380px){

    html{

        font-size: 60%;
    }
}

@media only screen and (max-width:380px)
and (min-width:300px){

    html{

        font-size: 48%;
    }
}